// Custom styles.


img {
	
	-webkit-box-shadow: 0 0 3px 2px #CCCACA;
	-moz-box-shadow: 0 0 3px 2px #CCCACA;
	box-shadow: 0 0 3px 2px #CCCACA;
	
	
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	
	
	
}

#posts p img {
	border:10px solid #FFF;
	border-radius:10px;
	
	display:inline-block;
	margin: 5px 10px;
	
	width:150px;
	height:90px;	
}

#posts p a.fancybox{
	border-bottom-width:0px;
		
}


#posts p img:hover {
	border:10px solid #FFCF00;
	border-radius:10px;
	-webkit-box-shadow: 0 0 3px 5px #CCCACA;
	-moz-box-shadow: 0 0 3px 5px #CCCACA;
	box-shadow: 0 0 3px 5px #CCCACA;
}


@media (max-width:480px){
	#posts p img {
		width:100%;
		height:100%;
	}
	
 }